@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');
// theme settings
@bgcolor: #efefef;
@border-color: lighten(@bgcolor, 10);
@button-active-text-color: #111111;
@hover-color: darken(@bgcolor, 10);
@link-color: #4a4a4a;
@placeholder-color: #111111;
@button-size: 30px;
@padding: 5px;
@border-radius: 2px;

// theme rules
.medium-toolbar-arrow-under:after {
  border-color: @bgcolor transparent transparent transparent;
  top: @button-size;
}

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent @bgcolor transparent;
}

.medium-editor-toolbar {

  border-radius: @border-radius;
  z-index: 200000;
  text-align: center;
  max-width: 500px;

  li {
    background-color: @bgcolor;
    display: inline-block;
    vertical-align: top;

    &.separator {
      clear: left;
    }

    button {
      background-color: transparent;
      border: none;
      box-sizing: border-box;
      color: @link-color;
      width: @button-size;
      height: @button-size;
      padding: @padding;
      transition: background-color .2s ease-in, color .2s ease-in;
      &:hover {
        background-color: @hover-color;
        color: @button-active-text-color;
      }
    }

    .medium-editor-button-first {
      border-bottom-left-radius: @border-radius;
      border-top-left-radius: @border-radius;
    }

    .medium-editor-button-last {
      border-bottom-right-radius: @border-radius;
      border-right: none;
      border-top-right-radius: @border-radius;
    }

    .medium-editor-button-active {
      background-color: @hover-color;
      color: @button-active-text-color;
    }

    .medium-editor-action-pre {
      padding: @padding;
    }
  }
}

.medium-editor-toolbar-form {
  background: @bgcolor;
  border-radius: @border-radius;
  color: #ffedd5;

  .medium-editor-toolbar-unlink {
    display: none;
    font-size: 20px;
  }

  .medium-editor-toolbar-input {
    background: @bgcolor;
    color: @link-color;
    height: @button-size;

    &::-webkit-input-placeholder {
      color: @placeholder-color;
      color: fade(@placeholder-color, .8);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: @placeholder-color;
      color: fade(@placeholder-color, .8);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: @placeholder-color;
      color: fade(@placeholder-color, .8);
    }
    &:-ms-input-placeholder {
      color: @placeholder-color;
      color: fade(@placeholder-color, .8);
    }
  }

  a {
    color: @link-color;
  }
}

.medium-editor-toolbar-anchor-preview {
  background: @bgcolor;
  border-radius: @border-radius;
  color: @link-color;
}

.medium-editor-placeholder:after {
  color: @border-color;
}

.vanilla-color-picker {
  display: inline-block;
  position: absolute;
  width: 204px;
  padding: 5px;
  background-color: #efefef;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3)
}

.vanilla-color-picker-single-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 1px 2px 0;
  border-radius: 2px;
}

.no-color {
  background: linear-gradient(45deg, #ffffff 0%, #ffffff 47%, #ff0f0f 51%, #ff0f0f 51%, #ff0f0f 51%, #ffffff 55%, #ffffff 100%);
}

.medium-editor-anchor-preview a {
  color: black;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input, .medium-editor-toolbar-form label {
  color: black;
  text-align: left;
}